<center>
<h1> <%=@evento.name%> </h1> <br>
<h4><%=@evento.tipo%> </h4> <br>

<h4>Lugar: <%=@evento.direction%> </h4> <br>

Descripcion<br>
<table>
<tr><td> <%=@evento.description%> %></td></tr>
</table>

</center>