
<form action="/user/crearusu" method="crearusu">

	Nombre <input name="Name" type="text" /> <br>
	Apellido <input name="LastName" type="text" /> <br>
	Nickname <input name="Nickname" type="text" /> <br>
	Sexo <select name="Genre">
	<option value="Hombre">Masculino</option>
	<option value="Mujer">Femenino</option>
	</select><br>
	Pais <input name="Country" type="text" /> <br>
	Ciudad <input name="City" type="text" /> <br>
	Email <input name="email" type="text" /> <br>
	Fecha de Nacimiento <input name="Birthday" type="date" /> <br>
	Contrasena <input name="password" type="password" /> <br>
	Repetir Contrasena <input name="password_confirmation" type="password" /> <br>

	<input type="hidden" name="Type" value="jugador" />
	<input type="hidden" name="Enable" value="false" />
   
 	<input type="submit" />   
 	<input type="reset" />
</form>
